/* 
	start context styles 
	media and other
*/

@media (min-width: 768px) {
	
	.main-menu{
		position: fixed;
		top: 73px;
		left: 0;
		float: left;
		min-height: 100vh;
		border-top: 3px solid #2d3c55;
		padding-top: 0;

		&.top{
			top: 0;
		}
	}

	.content-page{
		padding-left: 260px;
	}

	.menu-close,
	.menu-tt,
	.main-menu img{
		display: none;
	}

	.main-header{
		padding-bottom: 10px;
	}

	.telephone{
		display: block;
	}

	.navigation {
		margin-top: 0;
	}

	.lang-toggle-small{
		display: none;
	}

	.lang-toogle{
		display: block;
	}


}

@media (max-width: 768px){
	.navigation ul li.active{
		background: none;
	}

	.company{
		padding: 20px 10px;

		img{
			max-width: 100%;
		}
	}
}