/* 
	compile file
*/
/* start the foundation style */
/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start the base fraimwork styles. Can include base construction - forms/buttins/navigation and other */
/* modul section */
.col {
  float: left;
  padding: 0 14px;
  min-height: 1px;
}

.row.inline-row {
  font-size: 0;
}
.row.inline-row > .col {
  float: none;
}
.row.inline-row > .col:first-child {
  padding: 0 13px;
}
.row.inline-row > .col:last-child {
  padding: 0 13px;
}
.row.inline-row:after {
  display: none;
}
.row .col:first-child {
  padding-left: 0px;
}
.row .col:last-child {
  padding-right: 0px;
}
.row .single {
  margin: 0 auto;
  float: none;
}

.text-right {
  text-align: right;
}

.s-1 {
  width: 8.33%;
}

.s-2 {
  width: 16.66%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.33%;
}

.s-5 {
  width: 41.66%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.33%;
}

.s-8, .find-combo.active .top-find {
  width: 66.66%;
}

.s-9 {
  width: 75%;
}

.s-10 {
  width: 83.11%;
}

.s-11 {
  width: 91.66%;
}

.s-12 {
  width: 100%;
}

/* main fraimwork start here */
.inbox, .col, i, .ico, .menu-open, .main-menu, .lang-toggle-small, .navigation a, .form-shedule, .company-page .header, .text-page .header, .text-container .content, .shop-page .header, .food-item {
  box-sizing: border-box;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.inline, .row.inline-row > .col, i, .ico, .lang-toggle-small, footer .to-main, .lang-toogle p, .lang-toogle .toggled {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}

.clear, .row:after, .clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* colors */
/* i ico*/
i, .ico {
  font-size: 0;
  text-indent: -9999px;
}

/* basic typography */
body {
  font-family: 'PT Sans', sans-serif;
}

/* form style input and other */
form input[type='text'], form textarea, form select {
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 17px;
  color: #000;
  border-radius: 100px;
  width: 100%;
  padding: 10px 15px;
}
form input[type='text'].search, form textarea.search, form select.search {
  padding-left: 45px;
  background: #fff url(img/ico-find.png) no-repeat 15px center;
}
form input[type='text'].date, form textarea.date, form select.date {
  padding-left: 45px;
  background: #fff url(img/ico-calendar.png) no-repeat 15px center;
}
form label {
  cursor: pointer;
}
form button {
  cursor: pointer;
  outline: none;
  margin: 0;
}

/* btn styles */
.btn {
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 800;
  line-height: 22px;
  width: 100%;
  text-align: center;
  padding: 12px 15px;
  border-radius: 100px;
  background: #fd9f23;
  box-shadow: inset 0 -2px 0 0 #db7e02;
  border: none;
  outline: none;
  font-family: 'PT Sans', sans-serif;
}
.btn.reset {
  background: transparent;
  font-size: 15px;
  line-height: 19px;
  box-shadow: none;
  color: #325692;
  padding: 10px 7px;
}
.btn.reset i {
  background: url(img/ico-refresh.png) no-repeat center;
  width: 22px;
  height: 19px;
  margin-right: 10px;
}
.btn.blue {
  background: #fff;
  border: 2px solid #325692;
  color: #325692;
  box-shadow: none;
  font-size: 16px;
  margin-top: 20px;
  width: 120px;
  text-decoration: none;
  padding: 5px 10px;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/
.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #e4e4e4;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #4f8cad;
}

/* 
	start the project modules like a pages 
*/
.wrapper {
  max-width: 1024px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* main-header */
.main-header {
  background: #325692;
  border-bottom: 4px solid #959ba5;
}

.menu-open {
  display: block;
  width: 75px;
  height: 75px;
  background: #344563 url(img/ico-menu-open.png) no-repeat center;
}

/* content-wrapper */
body, html {
  height: 100%;
}

.hidden {
  overflow-y: hidden;
}

.content-wrapper {
  position: relative;
  height: 100%;
}

/* main -menu */
.main-menu {
  width: 260px;
  height: 100%;
  position: absolute;
  top: -80px;
  left: -260px;
  padding-top: 20px;
  -webkit-transition: left .3s ease;
          transition: left .3s ease;
  background: #344563;
}
.main-menu.active {
  left: 0;
}
.main-menu img {
  margin-left: 25px;
}

.logo {
  margin-top: 15px;
}

.telephone {
  display: none;
}
.telephone p {
  font-size: 16px;
  line-height: 20px;
  color: #dbdbdb;
  margin-top: 25px;
}

.lang-toggle-small {
  display: block;
  font-size: 18px;
  line-height: 22px;
  padding: 8px 30px 8px 15px;
  border: 2px solid #fefeff;
  border-radius: 100px;
  font-weight: 800;
  color: #fff;
  background: url(img/ico-arrow-down.png) no-repeat 80% center;
  text-decoration: none;
  margin: 15px 15px 0;
}

.navigation {
  margin-top: 30px;
}
.navigation ul li {
  border-bottom: 3px solid #2d3c55;
}
.navigation ul li:nth-child(1) a {
  background: url(img/ico-menu-plane.png) no-repeat 22px center;
}
.navigation ul li:nth-child(2) a {
  background: url(img/ico-menu-car.png) no-repeat 26px center;
}
.navigation ul li:nth-child(3) a {
  background: url(img/ico-menu-shop.png) no-repeat 30px center;
}
.navigation ul li:nth-child(4) a {
  background: url(img/ico-menu-company.png) no-repeat 22px center;
}
.navigation ul li:nth-child(5) a {
  background: url(img/ico-menu-place.png) no-repeat 30px center;
}
.navigation ul li.active {
  background: url(img/ico-arrow-right.png) no-repeat right center;
}
.navigation ul li.active a {
  border-left: 4px solid #fd9f23;
  color: #fd9f23;
}
.navigation a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0 20px 65px;
  text-decoration: none;
  font-weight: 600;
  border-left: 4px solid transparent;
}

.menu-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(img/ico-menu-close.png) no-repeat center;
}

/* main-page */
.main-page .header {
  background: #dbdbdb;
  padding-top: 15px;
}

.tab-control .col {
  padding: 0;
}
.tab-control a {
  display: block;
  width: 100%;
  text-decoration: none;
}
.tab-control.main {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
.tab-control.main a {
  font-size: 18px;
  color: #325692;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  border-bottom: 4px solid transparent;
  font-weight: 800;
  line-height: 19px;
}
.tab-control.main a i {
  margin-right: 15px;
}
.tab-control.main .out i {
  width: 54px;
  height: 19px;
  background: url(img/ico-plane-out.png) no-repeat center;
}
.tab-control.main .out.active i {
  background: url(img/ico-plane-out-active.png) no-repeat center;
}
.tab-control.main .come i {
  width: 54px;
  height: 19px;
  background: url(img/ico-plane-come.png) no-repeat center;
}
.tab-control.main .come.active i {
  background: url(img/ico-plane-come-active.png) no-repeat center;
}
.tab-control.main .active {
  color: #000;
  border-bottom: 4px solid #000;
}

/* status */
.status {
  padding-left: 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
}
.status.out-stop {
  color: #ed3f40;
}
.status.out-cancel {
  color: #ed3f40;
}
.status.out-process {
  color: #fd9f23;
}
.status.out-complete {
  color: #325692;
}
.status.come-ok {
  color: #ed3f40;
}
.status.come-timeout {
  color: #ed3f40;
}
.status.come-process {
  color: #ed3f40;
}
.status.come-come {
  color: #ed3f40;
}

/* fligt-item */
.fligt-item table {
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.fligt-item table tr {
  border-bottom: 1px solid #eff0f0;
}
.fligt-item table tr td {
  padding: 10px 0 10px 18px;
}
.fligt-item table tr td:first-child {
  width: 90px;
}
.fligt-item table tbody tr:last-child {
  border-bottom: none;
}
.fligt-item table tbody td {
  font-size: 18px;
  line-height: 20px;
}
.fligt-item table tbody td span {
  font-size: 16px;
  color: #929292;
}
.fligt-item table .plane {
  padding-left: 70px;
  background: url(img/ico-plane-pass.png) no-repeat left center;
}
.fligt-item table thead tr td {
  font-weight: 800;
}
.fligt-item table thead tr td:first-child {
  font-size: 25px;
}
.fligt-item table thead tr td:last-child {
  font-size: 22px;
}

/* tab-content */
.tab-content .tab {
  display: none;
}
.tab-content .tab.active {
  display: block;
}

.tab .fligt-item:nth-child(even) {
  background: #f2f2f2;
}
.tab .fligt-item:nth-child(even) table tr {
  border-bottom: 1px solid #fff;
}

/* promo slider */
.slide {
  background: #fff;
  margin-top: 15px;
}
.slide > img {
  width: 130px;
  float: left;
}
.slide .content {
  padding-left: 150px;
  padding-bottom: 20px;
}
.slide .content a {
  font-size: 18px;
  line-height: 22px;
  color: #325692;
  display: block;
  margin: 15px 0 10px;
  font-weight: 800;
  text-decoration: none;
}
.slide .content p {
  font-size: 15px;
  color: #000;
  margin-bottom: 10px;
}

.bx-wrapper {
  padding-bottom: 40px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #dbdbdb;
}

.bx-wrapper .bx-pager {
  bottom: 15px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 11px;
  height: 11px;
  background: #fd9f23;
  margin: 0 10px;
}

.bx-wrapper .bx-viewport {
  height: auto !important;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #000;
}

hr {
  background: #eeeeee;
  border: 0;
  border-bottom: 1px solid #ccc;
  height: 80px;
  margin: 0;
}

/* form-shedule */
.form-shedule {
  background: #dbdbdb;
  padding: 30px 25px;
}
.form-shedule h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 800;
  color: #325692;
  margin-bottom: 15px;
}
.form-shedule p {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
}
.form-shedule input {
  margin-bottom: 20px;
}

/* footer */
footer {
  border-top: 1px solid #ccc;
  padding: 25px 20px 40px;
  background: #eee;
  text-align: center;
}
footer p {
  text-align: center;
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 35px;
}
footer .to-main {
  width: 196px;
  height: 17px;
  background: url(img/ico-to-main.png) no-repeat center;
  text-decoration: none;
}

/* company-page */
.company-page .header {
  padding: 20px;
  background: #dbdbdb;
}
.company-page select {
  margin-bottom: 20px;
}

.company {
  padding: 35px 40px;
  border-bottom: 1px solid #ccc;
}
.company a {
  font-size: 18px;
  color: #325692;
  text-decoration: none;
  line-height: 43px;
}

.text-page .header {
  padding: 20px;
  background: #dbdbdb;
}
.text-page .header a {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #325692;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}
.text-page .header a:last-child {
  margin-bottom: 0;
}
.text-page .header a.active {
  color: #000;
}

.text-container .content {
  padding: 20px;
}
.text-container p {
  font-size: 16px;
  line-height: 26px;
  color: #000;
  margin-bottom: 30px;
}
.text-container h2 {
  font-weight: 800;
  font-size: 20px;
  color: #000;
  line-height: 26px;
  margin-bottom: 5px;
}
.text-container h2.red {
  color: #ed3f40;
}
.text-container img {
  width: 100%;
  margin: 0;
  padding: 0;
}

.find-combo .button-find {
  display: none !important;
}
.find-combo.active .button-find {
  display: inline-block !important;
}

.shop-page .header {
  padding: 20px 20px 0;
  background: #dbdbdb;
}

.food-item {
  padding: 25px 30px;
  border-bottom: 1px solid #ccc;
}
.food-item .image {
  width: 100px;
  float: left;
  margin-right: 30px;
}
.food-item .content {
  padding-left: 130px;
}
.food-item .content h2 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 15px;
}
.food-item .content p {
  font-size: 16px;
  line-height: 20px;
}
.food-item .content p b {
  font-weight: 800;
}
.food-item .content p span {
  color: #929292;
  font-style: italic;
}
.food-item .content .time {
  padding-left: 30px;
  line-height: 22px;
  background: url(img/ico-time.png) no-repeat center left;
  margin: 10px 0;
}

/* lang-toogle */
.lang-toogle {
  display: none;
  text-decoration: none;
  margin: 15px 25px 0 0;
}
.lang-toogle p {
  font-size: 18px;
  line-height: 33px;
  font-weight: 800;
  color: #fff;
}
.lang-toogle .toggled {
  width: 58px;
  height: 33px;
  margin: 0 15px;
  background: url(img/ico-toggle-circle.png) no-repeat 3px 3px, url(img/ico-toggle-area.png) no-repeat center;
  -webkit-transition: background .3s ease;
          transition: background .3s ease;
}
.lang-toogle.rus .rus {
  color: #fd9f23;
}
.lang-toogle.rus .toggled {
  background: url(img/ico-toggle-circle.png) no-repeat 3px 3px, url(img/ico-toggle-area.png) no-repeat center;
}
.lang-toogle.eng .eng {
  color: #fd9f23;
}
.lang-toogle.eng .toggled {
  background: url(img/ico-toggle-circle.png) no-repeat 29px 3px, url(img/ico-toggle-area.png) no-repeat center;
}

/* start the cosmetics project styles - this style not crashed layout */
/* transitions */
/* 
	start context styles 
	media and other
*/
@media (min-width: 768px) {
  .main-menu {
    position: fixed;
    top: 73px;
    left: 0;
    float: left;
    min-height: 100vh;
    border-top: 3px solid #2d3c55;
    padding-top: 0;
  }
  .main-menu.top {
    top: 0;
  }

  .content-page {
    padding-left: 260px;
  }

  .menu-close,
  .menu-tt,
  .main-menu img {
    display: none;
  }

  .main-header {
    padding-bottom: 10px;
  }

  .telephone {
    display: block;
  }

  .navigation {
    margin-top: 0;
  }

  .lang-toggle-small {
    display: none;
  }

  .lang-toogle {
    display: block;
  }
}
