/* 
	compile file
*/

/* start the foundation style */

/* RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* start the base fraimwork styles. Can include base construction - forms/buttins/navigation and other */

/* modul section */

.col {
  float: left;
  padding: 0 14px;
  min-height: 1px;
}

.row.inline-row {
  font-size: 0;
}

.row.inline-row > .col {
  float: none;
}

.row.inline-row > .col:first-child {
  padding: 0 13px;
}

.row.inline-row > .col:last-child {
  padding: 0 13px;
}

.row .col:first-child {
  padding-left: 0px;
}

.row .col:last-child {
  padding-right: 0px;
}

.row .single {
  margin: 0 auto;
  float: none;
}

.s-1 {
  width: 8.33%;
}

.s-2 {
  width: 16.66%;
}

.s-3 {
  width: 25%;
}

.s-4 {
  width: 33.33%;
}

.s-5 {
  width: 41.66%;
}

.s-6 {
  width: 50%;
}

.s-7 {
  width: 58.33%;
}

.s-8 {
  width: 66.66%;
}

.s-9 {
  width: 75%;
}

.s-10 {
  width: 83.11%;
}

.s-11 {
  width: 91.66%;
}

.s-12 {
  width: 100%;
}

/* main fraimwork start here */

.inbox,
.col,
i,
.ico,
.menu-open,
.main-menu,
.navigation a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.to-left {
  float: left;
}

.to-right {
  float: right;
}

.inline,
.row.inline-row > .col,
i,
.ico {
  display: inline-block;
  *display: inline;
  vertical-align: top;
  zoom: 1;
}

.clear,
.row:after,
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* colors */

/* i ico*/

i,
.ico {
  font-size: 0;
  text-indent: -9999px;
}

/* basic typography */

body {
  font-family: 'PT Sans', sans-serif;
}

/* form style input and other */

form input[type='text'],
form textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  border: 0;
  font-family: 'PT Sans', sans-serif;
  background: #fff;
  font-size: 15px;
  line-height: 17px;
  color: black;
  border-radius: 100px;
  width: 100%;
  padding: 10px 15px;
}

form input[type='text'].search,
form textarea.search {
  padding-left: 45px;
  background: white url(img/ico-find.png) no-repeat 15px center;
}

form label {
  cursor: pointer;
}

form button {
  cursor: pointer;
  outline: none;
  margin: 0;
}

/* btn styles */

.btn {
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
}

/**
 * BxSlider v4.1.2 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2014
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  padding: 0;
  *zoom: 1;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/** THEME
===================================*/

.bx-wrapper .bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
  -ms-transform: translatez(0);
  transform: translatez(0);
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url(images/bx_loader.gif) center center no-repeat white;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #e4e4e4;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #4f8cad;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: -50px;
  background: url(img/sprite-1.png) no-repeat top left;
  background-position: 0 -1721px;
}

.bx-wrapper .bx-next {
  right: -50px;
  background: url(img/sprite-1.png) no-repeat top left;
  background-position: -36px -1620px;
}

.bx-wrapper .bx-prev:hover {
  background-position: -38px -1721px;
}

.bx-wrapper .bx-next:hover {
  background-position: 0 -1620px;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  outline: 0;
  width: 27px;
  height: 51px;
  text-indent: -9999px;
  z-index: 9999;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* 
	start the project modules like a pages 
*/

.wrapper {
  max-width: 1024px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

/* main-header */

.main-header {
  background: #325692;
  border-bottom: 4px solid #959ba5;
}

.menu-open {
  display: block;
  width: 75px;
  height: 75px;
  background: #344563 url(img/ico-menu-open.png) no-repeat center;
}

/* content-wrapper */

body,
html {
  height: 100%;
}

.hidden {
  overflow: hidden;
}

.content-wrapper {
  position: relative;
  height: 100%;
}

/* main -menu */

.main-menu {
  width: 260px;
  height: 100%;
  position: absolute;
  top: -80px;
  left: -260px;
  padding-top: 20px;
  -webkit-transition: left .3s ease;
  transition: left .3s ease;
  background: #344563;
}

.main-menu.active {
  left: 0;
}

.main-menu img {
  margin-left: 25px;
}

.navigation {
  margin-top: 30px;
}

.navigation a {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px 0 20px 65px;
  border-bottom: 3px solid #2d3c55;
  text-decoration: none;
  font-weight: 600;
}

.navigation a:nth-child(1) {
  background: url(img/ico-menu-plane.png) no-repeat 22px center;
}

.navigation a:nth-child(2) {
  background: url(img/ico-menu-car.png) no-repeat 26px center;
}

.navigation a:nth-child(3) {
  background: url(img/ico-menu-shop.png) no-repeat 30px center;
}

.navigation a:nth-child(4) {
  background: url(img/ico-menu-company.png) no-repeat 22px center;
}

.navigation a:nth-child(5) {
  background: url(img/ico-menu-place.png) no-repeat 30px center;
}

.menu-close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 20px;
  right: 20px;
  background: url(img/ico-menu-close.png) no-repeat center;
}

/* main-page */

.main-page .header {
  background: #dbdbdb;
  padding-top: 15px;
}

.tab-control .col {
  padding: 0;
}

.tab-control a {
  display: block;
  width: 100%;
  text-decoration: none;
}

.tab-control.main {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

.tab-control.main a {
  font-size: 18px;
  color: #325692;
  text-transform: uppercase;
  text-align: center;
  padding: 20px 0;
  border-bottom: 4px solid transparent;
  font-weight: 800;
  line-height: 19px;
}

.tab-control.main a i {
  margin-right: 15px;
}

.tab-control.main .out i {
  width: 54px;
  height: 19px;
  background: url(img/ico-plane-out.png) no-repeat center;
}

.tab-control.main .out.active i {
  background: url(img/ico-plane-out-active.png) no-repeat center;
}

.tab-control.main .come i {
  width: 54px;
  height: 19px;
  background: url(img/ico-plane-come.png) no-repeat center;
}

.tab-control.main .come.active i {
  background: url(img/ico-plane-come-active.png) no-repeat center;
}

.tab-control.main .active {
  color: black;
  border-bottom: 4px solid black;
}

/* status */

.status {
  padding-left: 40px;
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
}

.status.out-stop {
  color: #ed3f40;
}

.status.out-cancel {
  color: #ed3f40;
}

.status.out-process {
  color: #fd9f23;
}

.status.out-complete {
  color: #325692;
}

.status.come-ok {
  color: #ed3f40;
}

.status.come-timeout {
  color: #ed3f40;
}

.status.come-process {
  color: #ed3f40;
}

.status.come-come {
  color: #ed3f40;
}

/* fligt-item */

.fligt-item table {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.fligt-item table tr {
  border-bottom: 1px solid #eff0f0;
}

.fligt-item table tr td {
  padding: 10px 0 10px 18px;
}

.fligt-item table tr td:first-child {
  width: 90px;
}

.fligt-item table tbody tr:last-child {
  border-bottom: none;
}

.fligt-item table tbody td {
  font-size: 18px;
  line-height: 20px;
}

.fligt-item table tbody td span {
  font-size: 16px;
  color: #929292;
}

.fligt-item table .plane {
  padding-left: 70px;
  background: url(img/ico-plane-pass.png) no-repeat left center;
}

.fligt-item table thead tr td {
  font-weight: 800;
}

.fligt-item table thead tr td:first-child {
  font-size: 25px;
}

.fligt-item table thead tr td:last-child {
  font-size: 22px;
}

/* tab-content */

.tab-content .tab {
  display: none;
}

.tab-content .tab.active {
  display: block;
}

.tab .fligt-item:nth-child(even) {
  background: #f2f2f2;
}

.tab .fligt-item:nth-child(even) table tr {
  border-bottom: 1px solid #fff;
}

/* start the cosmetics project styles - this style not crashed layout */

/* transitions */

/* 
	start context styles 
	media and other
*/